#promotion {
    z-index: 100;
    background-color: grey;
    min-width: 250px;
    margin-top: min(180px, 35%);
    width: 10%;
    height: 5%;
}

#grid{
    background-color: #5c19b0;
    display: flex;
    margin: 5%;
}

.piece-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 50px;
    transition: 0.3s;
}

.piece-button:hover{
    background-color: #4B147D;
    transition: 0.3s;
}

.piece-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300%;
    height: auto;
}