.text {
    color: white;
    text-align: center;
}

#row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 10%;
    border-radius: 50px;
    padding: 30px;
    background-color: #585858;
}

#main-logo {
    padding-left: 20px;
    margin-bottom: 20px;
    width: 500px;
}

#button{
    width: 450px;
    height: 100px;
    background-color: #A283FF;
    border: none;
    font-size: xx-large;
    margin: 0 50px;
    transition: 0.3s;
    border-radius: 50px;
}

#button:hover{
    background-color: #4B147D;
    transition: 0.3s;
}

#submenu {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    font-size: large;
}

.submenu-options{
    display: flex;
    flex-direction: row;
    width: 520px;
}

.submenu-option {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.submenu-button{
    width: 150px;
    height: 150px;
    background-color: #A283FF;
    transition: 0.3s;
    border-radius: 25px;
}

.submenu-button:hover{
    background-color: #4B147D;
    transition: 0.3s;
}

.menu-piece {
    width: 90px;
    height: 90px;
    margin: 30px;
}

.return {
    width: 50%;
    color: white;
    background-color: #A283FF;
    border: none;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    margin: 0 25% 5% 25%;
    border-radius: 25px;
}

.return:hover{
    background-color: #4B147D;
    transition: 0.3s;
}