#view{
  display: flex;
  justify-content: space-between;
  width: 50%
}

#board {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    20px 70px 70px 70px 70px 70px 70px 70px 70px 20px
  );
  grid-template-rows: repeat(
    auto-fit,
    20px 70px 70px 70px 70px 70px 70px 70px 70px 20px
  );
  width: 600px;
  height: 600px;
}

#feedback {
  margin: 10px;
  height: 20px;
  text-align: center;
  color: white;
}