#view{
  display: flex;
  justify-content: space-between;
  width: 60%
}

#board {
  margin-left: 100px;
  float: left;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    20px 70px 70px 70px 70px 70px 70px 70px 70px 20px
  );
  grid-template-rows: repeat(
    auto-fit,
    20px 70px 70px 70px 70px 70px 70px 70px 70px 20px
  );
  width: 600px;
  height: 600px;
}

#promotion {
  background-color: #7f7f7f;
  width: 250px;
  height: 180px;
  float: right;
  margin: 10px;
}
#grid{
  background-color: #5c19b0;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  margin: 10px;

}
.piece-button{
  margin: 10px;

}