#capture-area{
    display: grid;
    margin-top: 80px;
    grid-template-columns: 50% 50%;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid white;
    background-color: #5c19b0;
    height: auto;
    width: auto;
}

.capture-area-left{
    margin-right: 50%;
    position: fixed;
}

.capture-area-right{
    position: fixed;
    margin-left: 50%;
}

@media (max-width: 1600px) {

    .capture-area-left{
        margin-right: 60%;
        position: fixed;
    }

    .capture-area-right{
        margin-left: 60%;
        position: fixed;
    }
}

@media (max-width: 1240px) {

    .capture-area-left{
        margin-right: 70%;
        position: fixed;
    }

    .capture-area-right{
        margin-left: 70%;
        position: fixed;
    }
}

@media (max-height:650px) {
    #capture-area{
        margin-top: 65px;
    }
}

@media (max-height:575px) {
    #capture-area{
        margin-top: 50px;
    }
}

@media (max-width: 1060px) {

    #capture-area{
        margin-top: 0.5%;
        display: flex;
        flex-direction: column;
    }

    .capture-area-left{
        margin-right: 0;
        position: relative;
    }

    .capture-area-line{
        display: flex;
        flex-direction: row;
    }

    .capture-area-right{
        margin-left: 0;
        position: relative;
    }
}

@media (max-height:650px) and (max-width: 1060px) {

    #capture-area{
        margin-top: 0.5%;
        display: flex;
        flex-direction: column;
    }

    .capture-area-left{
        margin-right: 0;
        position: relative;
    }

    .capture-area-right{
        margin-left: 0;
        position: relative;
    }

}

@media (max-height:460px), (max-width:460px) {

    #capture-area{
        margin-top: 0.5%;
        display: flex;
        flex-direction: column;
    }

    .capture-area-left{
        margin-right: 0;
        position: relative;
    }

    .capture-area-line{
        display: flex;
        flex-direction: row;
    }

    .capture-area-right{
        margin-left: 0;
        position: relative;
    }
}