#capture-area{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 5% 0 5%;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid white;
    background-color: #5c19b0;
}

@media (max-width: 1000px) {
    #capture-area{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 1% 0 1%;
        align-items: center;
        flex-wrap: wrap;
        border: 5px solid white;
        background-color: #5c19b0;
    }
}
