.tile {
  display: grid;
  place-content: center;
  width: 70px;
  height: 70px;
}

.dark-tile {
  background-color: #5c19b0;
}

.light-tile {
    background-color: #FFFFFF;
}

.selected-tile {
    background-color: #2b572d !important;
}

.legal-movements-dark-tile {
    background-color: #66A78A !important;
}

.legal-movements-light-tile {
    background-color: #578d75 !important;
}

.attack-movements-dark-tile {
    background-color: #9b202c !important;
}

.attack-movements-light-tile {
    background-color: #8c0814 !important;
}

.king-in-check {
    background-color: #eb8f8f;
}

.movement-light-tile {
    background-color: #e4dd84;
}

.movement-dark-tile {
    background-color: #bdb70d;
}

.piece {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}
