.tile {
  display: grid;
  place-content: center;
  width: 70px;
  height: 70px;
}

.dark-tile {
  background-color: #5c19b0;
}

.light-tile {
    background-color: #FFFFFF;
}

.selected-tile {
    background-color: #2b572d;
}

.legal-moviments-dark-tile {
    background-color: #66A78A;
}
.legal-moviments-light-tile {
    background-color: #578d75;
}

.piece {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}
