html {
  background-color: #2F2F2F;
}

#app {
  display: flex;
  background-color: #2F2F2F;
  height: 100vh;
}

#logo {
  float: left;
  width: 200px;
  height: 61px;
  margin:5% 0% 10%  5%;
}


#board-area {
  margin:5% 0% 5%  5%;
}