.border {
  display: grid;
  place-content: center;
  background-color: grey;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.border-horizontal {
  width: 70px;
  height: 20px;
}

.border-vertical {
  width: 20px;
  height: 70px;
}

.border-corner {
  width: 20px;
  height: 20px;
}

