html {
  background-color: #2F2F2F;
}

#logo {
  margin-left: 45%;
  margin-right: 40%;
  width: 150px;
  height: 45px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
